.countryDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.countryDetailsContent {
  flex: auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.countryDetailsPopTitle,
.otherDetailsTitle {
  font-weight: 600;
  font-size: 1.1em;
}

.countryDetailsPop {
  display: flex;
  flex-direction: row;
}

.populationCount {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

.populationCount p {
  align-self: flex-end;
}

.populationAction {
  display: flex;
  flex-basis: 10%;
  flex-direction: row;
  align-items: center;
  margin-left: 12px;
}

.populationAction > button {
  flex: auto;
}

.otherDetailsContainer {
  margin-top: 20px;
}

.otherDetailsContent {
  margin-top: 10px;
}

