.countryDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.countryDetailsContent {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.countryDetailsPop {
  display: flex;
  flex-direction: row;
}

.countryDetailsPop p {
  flex-basis: 33%;
}

.populationText {
  flex-basis: 70%;
}

.populationCount {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

.populationCount p {
  align-self: flex-end;
}

.populationAction {
  display: flex;
  flex-basis: 10%;
  flex-direction: row;
  align-items: center;
  margin-left: 12px;
}

.populationAction > button {
  flex: auto;
}


