.identification {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  flex-grow: 1;
}

h2 {
  font-family: Raleway, 'Open Sans', sans-serif;
}

.countryPicker {
  /*flex-grow: 1;*/
  display: flex;
  flex-direction: column;
}

.countryPickerContent {
  flex: auto;
  display: flex;
  flex-direction: row;
}

.countryPickerSelect {
  flex-basis: 50%;
}

.countryPickerMap {
  flex-grow: 1;
  border: 1px solid black;
}
