.identification {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: Raleway, 'Open Sans', sans-serif;
}

.continueAction {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
