.costing {
  composes: main from '../../App.css';
}

.content {
  flex-basis: 67%;
  display: flex;
  flex-direction: column;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
