.assessmentMain {
  width: 70%;
  padding: 0px 20px 20px 50px;
  display: flex;
  flex-direction: column;
}

.assessmentDescription {
  max-width: 1100px;

  .peeper strong {
    font-weight: 600;
  }
}

.assessmentDescriptionContent {
  font-size: 0.95em;
}

.assessmentAction {
  margin: 30px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* --- Costing --- */
.costingContainer {
  padding-top: 20px;
  border-top: 1px solid #ccc;
  margin-top: 20px;

  strong {
	font-weight: bold;
  }
}

.expenseTable {
  font-size: 14px;
}

.expenseRow {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.expenseRowSummary {
  display: flex;
  flex-direction: row;
}

.expenseRowSummary > div {
  /*align-items: center;*/
}

.expenseRowSelect, .expenseRowFake {
  flex: 1 0 0;
}

.expenseRowName {
  flex: 12 0 0;
}

.expenseRowCosts, .expenseRowHeaders {
  /*overflow-x: scroll;*/
  text-wrap: normal;
  padding: 5px;
  flex: 2 0 0px;
  max-width: 20%;
  text-align: right;
}

.expenseRowHeaders {
	font-weight: bold;
}

.expenseRowAction {
  flex: 2 0 0;
}

.expenseCurrency {

  text-align: right;
}

.expenseRowCard {
  margin-bottom: 10px;
}

.expenseRowForm {
  display: flex;
  flex-direction: column;
}

.expenseRowFormStartup,
.expenseRowFormRecurring {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
}

.expenseRowFormStartup > div,
.expenseRowFormRecurring > div {
  min-height: 20px;
  padding: 10px 20px;
  display: flex;
  flex: 0 1 150px;
}

.expenseRowFormStartup > div:before {
  content: 'x';
  position: relative;
  top: 50%;
  left: -20px;
}

.expenseRowFormStartup > div:first-child:before {
  content: '';
}

.expenseRowInput {
  display: flex;
}

.expenseTableLabels {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.actionButton {
  margin-right: 5px;
  margin-left: 5px;
}

.resultsButtonContainer {
  margin-top: 20px;
  text-align: center;
}
