.assessmentMain {
  padding: 20px;
}

.assessmentDescription {

}

.assessmentAction {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.capacityTable {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.capacityRow {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
}

.capacityCell {
  flex: 1;
  border-right: 1px solid gray;
  padding: 10px 5px;
}

.capacityCell:last-child {
  border-right: none;
}

.capacityCellWithRadio {
  composes: capacityCell;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.capacityCellWithRadio > p {
  flex-grow: 1;
}

.capacityCellRadio {
  display: flex !important;
  flex-basis: 10%;
}

.expenseTable {
  font-size: 14px;
}

.expenseRow {
  display: flex;
  flex-direction: row;
}

.expenseRow > div {
  display: flex;
  align-items: center;
}

.expenseRowSelect {
  flex-basis: 5%;
}

.expenseRowName {
  flex-basis: 60%;
}

.expenseRowCosts {
  flex-basis: 10%;
}

.expenseRowAction {
  flex-basis: 10%;
}
