.peeper {
  margin: 10px 15px;
}

.peeperLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -20px;
  cursor: pointer;
}

.peeperLabel svg {
  margin-right: 10px;
}

.peeperActive svg {
  transform: rotate(90deg);
}

.peeperContent {
  display: none;
}

.peeperActive .peeperContent {
  display: block;
}
.peeperActive .peeperContent p {
  margin-top: 10px;
}

.peeper strong { font-weight: 400; }