.results {
  composes: fixedWidth from '../../App.css';
  max-width: 1100px;
	padding: 20px 40px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.resultsTitle {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6em;
}


/* --- Score Summary --- */
.scoreSummaryContainer {
	margin-top: 10px;
}

.scoreSummaryTitle {
	font-size: 1.1em;
	font-weight: 600;
}

.scoreSummaryTextContainer {
	display: flex;
	flex-basis: 50%;
}

.scoreSummaryChartContainer {
	display: flex;
	flex-basis: 50%;
}


/* --- Cost Summary --- */
.costSummaryContainer {
	display: flex;
	flex: auto;
	flex-direction: row;
	flex-shrink: 0;
}

.costTableContainer {
	display: flex;
	flex-basis: 50%;
	flex-direction: column;
	flex-shrink: 0;
}