.home {
  composes: fixedWidth from '../../App.css';
  display: flex;
  flex-direction: column;
}

.homeCenterContents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homeTitle h1 {
  font-family: Raleway, 'Open Sans', sans-serif;
}

.homeSection {
  margin-top: 20px;
}
