.homeContainer {
  composes: fixedWidth from '../../App.css';
  display: flex;
  flex-direction: column;
  max-width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 20px 50px 50px;
}

.homeTitle {
 	justify-content: flex-start;
	font-family: 'Raleway', sans-serif;
}

.homeImageContainer {
	margin-top: 10px;
	height: 200px;
	width: 100%;
	background: url('../../images/crowd.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 70%;
}

.homeContent {
	margin-top: 10px;
}
.homeContinueContainer {
	text-align: center;
	margin-top: 30px;
}