.upload {
  composes: fixedWidth from '../../App.scss';
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 20px 50px 50px;
  max-width: 900px;
}

.buttonGroup {
	margin-top: 30px;

	p { margin-bottom: 10px; }
}

.uploadButton { margin-right: 10px; }