.upload {
  composes: fixedWidth from '../../App.css';
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 20px 50px 50px;
  max-width: 900px;
}

.noUploadButton {
	margin-top: 20px;
}