.breadcrumbs {
	padding: 0 50px;
	background-color: #d0d0d0;
}

.menuItem {
	display: inline-block;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 0.95em;

	&:hover {
		a { text-decoration: underline; }
	}
	&:hover,
	&.active {
		background-color: #f6f6f6;
	}
	a {
		color: black;
		text-decoration: none;
	}
}