.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
}

.tabs {
  flex-grow: 1;
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  padding-bottom: 20px;
}

.fixedWidth {
  flex-basis: 70%;
}

@media (max-width: 1024px) {
  .fixedWidth {
    flex-basis: 85%;
  }
}

@media (max-width: 768px) {
  .fixedWidth {
    flex: auto;
  }
}

.sidebar {
  flex-basis: 33%;
  border-right: 1px solid black;
}

