.tableOfContents {
  display: flex;
  flex-direction: column;
}

.capacityProgress {
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
  font-weight: 600;
  background-color: #f9f9f9;
}

.indicatorGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;

  &:first-child { background-color: #f2f0f7; }
  &:nth-child(2) { background-color: #dadaeb; }
  &:nth-child(3) { background-color: #bcbddc; }
}

.indicatorTitle {
  font-size: 1.1em;
  margin-bottom: 10px;
  cursor: pointer;
}

.capacities {
  margin-left: 20px;
  border-left: 1px dashed #555;
  font-size: 0.9em;
}

.capacitiesEmpty {
  display: none;
}

.capacity {
  position: relative;
  padding: 5px 15px 5px 15px;
  cursor: pointer;

  &:nth-child(n+2) {
    margin-top: 10px;
  }
  &:hover {
    background-color: rgba(0,0,0,0.05);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  }
  p {
    margin: 0;
  }
  ul { margin-top: 5px; }
  li { margin-top: 5px; }
  li:first-child { margin-top: 10px; }
}

.capacityChildContainer {
  margin-left: 20px;
}

.capacityChild {
  margin-top: 5px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
  img {
    width: 10px;
    height: 10px;
    opacity: 0.4;
  }
  span { margin-left: 8px; }
}

.activeCapacity {
  & > p { font-weight: 900; }
  .ccActive { font-weight: 900; }
}

.arrowImage {
  display: none;
  position: absolute;
  top: 10px;
  left: 12px;
  width: 9px;
  height: 10px;
}