.geoLevels {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.geoLevelsTitle {
  font-weight: 600;
  font-size: 1.1em;
}

.geoLevel {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.geoLevelRow,
.geoLevelName {
  flex-basis: 35%;
}

.geoLevelCount {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
}

.geoLevelCount .geoLevelCountNumber {
  align-self: flex-end;
}

.geoLevelAction {
  display: flex;
  flex-basis: 5%;
  flex-direction: row;
  align-items: center;
  margin-left: 12px;
}
