.assessmentBreadcrumbs {
	padding: 20px 20px 20px 50px;
	margin-left: -50px;
	margin-top: -1px;
	border-bottom: 1px solid #ccc;
	font-size: 0.95em;
}
.breadLink {
	display: inline-block;
	margin: 0 3px;
	cursor: pointer;
	color: #333;
	font-weight: 600;
	user-select: none;
}
.breadLink:hover {
	text-decoration: underline;
}